
/* -------Generales---------- */

:root {
  --light-grey: #dbd8d7;
  --med-dark-grey: #3c3a39;
  --dark-grey: #1c1a19;
  --neutral-grey: #8993a4;
  --orange: #ff6b00;
  --light-cream: #fff5e1;
  --white: #fff;
  --principalFont: 'Poppins', sans-serif;
  --secundaryFont: 'Roboto', sans-serif;
  --especialFont: 'Crete Round', serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  background-color: var(--white);
  font-size: 1.6rem;
  font-family: var(--principalFont);
  color: var(--black);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* -----header------- */

header {
  background-color: var(--med-dark-grey);
  padding: 0 1.2rem;
  position: fixed;
  width: 100%;
}

.header__container {
  height: 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: var(--secundaryFont);
  color: var(--white);
  font-size: 1.8rem;
  padding: 0 1.2rem;
}

.header__logo:hover {
  animation-name: rotate;
  animation-duration: 0.7s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.header__menu {
  padding: 0 1.2rem;
}

/* ---------Container--------- */

.container {
  width: 100%;
  margin-top: 4.8rem;
}

.sep {
  padding: 0 2.5rem;
}

/* -----------hero------------ */

.hero {
  width: 100%;
  height: 59rem;
  background-color: var(--dark-grey);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/illustration-header-mobile.svg);
  background-repeat: no-repeat;
  background-position: 284px 227px;
  overflow: hidden;
}

.hero h1 {
  font-family: var(--especialFont);
  color: var(--orange);
  font-weight: normal;
  font-size: 5.6rem;
  letter-spacing: 0.037rem;
  line-height: 6.4rem;
}

.hero h2 {
  font-family: var(--secundaryFont);
  color: var(--light-cream);
  font-size: 2.4rem;
  line-height: 3.2rem;
  padding: 1rem 0;
}

.hero p {
  color: var(--white);
  line-height: 2.4rem;
  padding: 1rem 0;
}

.hero ul {
  display: flex;
  padding: 1rem 0;
  gap: 12px;
  margin-left: 1rem;
}

.works {
  width: 100%;
  margin-top: 12rem;
}

.works h2 {
  padding: 2.5rem;
  text-align: center;
  font-family: var(--especialFont);
  font-size: 4rem;
  font-weight: normal;
  line-height: 5.2rem;
}

.works .multipost {
  padding: 2.5rem;
  margin-top: 3rem;
}

.works .multipost img {
  width: 100%;
}

.works .multipost h3 {
  font-family: var(--especialFont);
  font-size: 3.6rem;
  font-weight: normal;
  line-height: 4.4rem;
  margin-top: 1.5rem;
}

.works .multipost p {
  line-height: 2.4rem;
  margin-top: 1rem;
}

.works .multipost .tags {
  display: flex;
  gap: 1.2rem;
  margin-top: 1rem;
}

.works .multipost .tags li {
  border: 1px solid var(--neutral-grey);
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
}

.works .multipost .multipost_btn {
  background-color: var(--orange);
  border: none;
  color: var(--white);
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.7rem;
  transition-property: font-size;
  transition-duration: 2s;
}

.works .multipost .multipost_btn:hover {
  color: var(--orange);
  background-color: #fff5e1;
  border: 1px var(--orange) solid;
  font-size: 2rem;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .cards {
    flex-direction: row;
  }
}

.cards .card {
  margin: 0 2.5rem;
  background-image: url(../images/imgplaceholderback.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  margin-bottom: 2rem;
}

.cards .card .card_container {
  padding: 15px;
}

.cards .card .card_container h3 {
  font-family: var(--especialFont);
  font-weight: normal;
  color: var(--white);
  font-size: 3.2rem;
  line-height: 4.4rem;
  margin-top: 7.2rem;
}

.cards .card .card_container p {
  line-height: 2.4rem;
  margin-top: 1.5rem;
  color: var(--white);
}

.cards .card .card_container .tags {
  display: flex;
  gap: 1.2rem;
  margin-top: 1rem;
}

.cards .card .card_container .tags li {
  background: rgba(255, 255, 255, 0.24);
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  color: var(--white);
}

.cards .card button {
  width: 100%;
  padding: 1.5rem;
  background-color: var(--orange);
  border: none;
  color: var(--white);
  margin-top: 1rem;
  font-size: 1.7rem;
}

.aboutme {
  width: 100%;
  background-color: var(--dark-grey);
  margin-top: 10rem;
}

.aboutme .aboutme_content {
  height: 65rem;
  background-image: url(../images/illustration-aboutmer-mobile.svg);
  background-repeat: no-repeat;
  background-position: 230px 380px;
  overflow: hidden;
  padding: 2.5rem;
}

.aboutme .aboutme_content h4 {
  font-family: var(--especialFont);
  color: var(--orange);
  font-size: 7.2rem;
  font-weight: normal;
  letter-spacing: 0.037rem;
  margin-top: 9rem;
}

.aboutme .description {
  color: var(--white);
  margin-top: 1rem;
}

.aboutme .aboutme_btn {
  background-color: var(--orange);
  border: none;
  color: var(--white);
  padding: 1.5rem;
  margin-top: 3rem;
  font-size: 1.7rem;
  width: 50%;
  height: fit-content;
}

.aboutme .aboutme_btn_img .image {
  width: 50%;
}

.aboutme .aboutme_btn_img .image img {
  position: relative;
  left: 30px;
}

.skills {
  margin-top: 12rem;
}

.skills .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 4rem;
}

.skills .skill h4 {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 3.2rem;
  font-weight: bold;
}

.skills .skill .skill_li {
  color: var(--white);
  font-size: 2.2rem;
}

.form {
  padding: 2.4rem;
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}

.form .form_p {
  font-size: 32px;
  margin-top: 100px;
  color: #172b4d;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
}

.form input {
  width: 100%;
  padding: 20px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #d8d8d7;
}

.form textarea {
  width: 100%;
  height: 115px;
  border: none;
  padding: 2rem;
  background-color: #f8f8f7;
}

.form .form_btn {
  font-size: 1.7rem;
  background-color: var(--orange);
  padding: 10px;
  border: none;
  color: var(--white);
  margin-top: 20px;
  margin-bottom: 20px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
  padding: 20px;
  padding-bottom: 5px;
  border-top: 1px solid var(--light-grey);
}

.line_footer {
  text-align: center;
  margin-bottom: 10px;
}
